doctype html
html
	head
		include common/_head
	body
		.screen-menu
			.screen-menu__list
				-
					var menu = {
						"index" : "Обо мне",
						"works" : "Мои работы",
						"contacts" : "Контакты"
					}
				each value, key in menu
					li.screen-menu__item
						a(href="#{key}").screen-menu__link= value


